@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 25 15% 15%;
    --foreground: 38 56% 90%;
    --card: 25 15% 18%;
    --card-foreground: 38 56% 90%;
    --popover: 25 15% 15%;
    --popover-foreground: 38 56% 90%;
    --primary: 38 62% 55%;
    --primary-foreground: 25 15% 15%;
    --secondary: 38 25% 45%;
    --secondary-foreground: 38 56% 90%;
    --muted: 25 15% 30%;
    --muted-foreground: 38 30% 70%;
    --accent: 38 40% 35%;
    --accent-foreground: 38 56% 90%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 38 56% 90%;
    --border: 25 15% 25%;
    --input: 25 15% 25%;
    --ring: 38 62% 55%;
    --chart-1: 38 62% 55%;
    --chart-2: 38 40% 45%;
    --chart-3: 38 25% 35%;
    --chart-4: 38 50% 75%;
    --chart-5: 38 30% 60%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 25 15% 15%;
    --foreground: 38 56% 90%;
    --card: 25 15% 18%;
    --card-foreground: 38 56% 90%;
    --popover: 25 15% 15%;
    --popover-foreground: 38 56% 90%;
    --primary: 38 62% 55%;
    --primary-foreground: 25 15% 15%;
    --secondary: 38 25% 45%;
    --secondary-foreground: 38 56% 90%;
    --muted: 25 15% 30%;
    --muted-foreground: 38 30% 70%;
    --accent: 38 40% 35%;
    --accent-foreground: 38 56% 90%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 38 56% 90%;
    --border: 25 15% 25%;
    --input: 25 15% 25%;
    --ring: 38 62% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
